{% extends 'base_tmpl.html' %}
{% load static %}


  {% block content %}
    <div class='container justify-content-center mt-5 mb-5'>

    <h3>Acerca de mi</h3>
    <p>
      Mi nombre es Javier Fernandez, tengo 22 años y actualmente soy estudiante del segundo año de la Licenciatura de Sistemas en la 
      U.N.P.S.J.B, en Trelew, Chubut. 
    </p>

    <br>

    <h4>Links importantes</h4>
    <ul class='container ml-5'>
      <li><a href='https://javier-a-agustin.github.io/Javier-Fernandez-w/' target='blank'>Portfolio</a></li>
      <li><a href='https://www.linkedin.com/in/javier-a-agustin/' target='blank'> LinkedIn</a></li>
      <li><a href='https://github.com/javier-a-agustin' target='blank'>Github</a></li>
    </ul>

    <br>

    <p>Ante cualquier consulta o inquietud respecto a cualquier tema no dudes en contactarme<p/>

    </div>

  {% endblock content %}